.hero {
    text-align: center;
    margin-bottom: 50px;
}

.middle {
    background-color: aqua;
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 23%;
    border: 2px solid black;

}