.hero {
    text-align: center;
    margin-bottom: 50px;
}

.middle {
    background-color: aqua;
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.cell {
	background-color: #fff;
	border: 1px solid black;
}