.hero {
    text-align: center;
    margin-bottom: 50px;
}

.middle {
    background-color: aqua;
    margin-right: 30%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    min-width: 740px;
    min-height: 740px;
    max-width: 740px;
    max-height: 740px;

    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 640px;
    min-height: 640px;
}

.cell {
	background-color: #fff;
	border: 1px solid black;
}